<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xstudio.discuzx.ultrax.mapper.CommonSettingMapper">

    <select id="selectBySkeys" resultMap="BaseResultMap">
        select skey, svalue from pre_common_setting
        <where>
            skey in
            <foreach collection="skeys" open="(" close=")" separator="," item="key">
                #{key,jdbcType=VARCHAR}
            </foreach>
        </where>
    </select>
</mapper>